h1 Rezzard
.card
  .card-body
    .row
      .col-sm-3
        .form-group
          label Nombre de noeuds
          input.form-control(type="number", [(ngModel)]="this.numNodes")
        .form-group
          label Nombre de liens
          input.form-control(type="number", [(ngModel)]="this.numLinks")
      .col-sm-3
        .form-group
          label Vitesse
          input.form-control(type="number", [(ngModel)]="this.speed")
        .form-group
          label Echelle
          input.form-control(type="number", [(ngModel)]="this.scale")
      .col-sm-3
        .form-group
          label Type de réseau
          select.form-control([(ngModel)]="this.linkStrategy")
            option(value="random") Random + maxdist
        .form-group
          label Stratégie routage
          select.form-control([(ngModel)]="this.linkStrategy")
            option(value="random") Random
      .col-sm-3
        button.btn.btn-outline-danger.btn-block.m-1((click)="generate()") Régénérer réseau
        button.btn.btn-primary.btn-block.m-1((click)="network.emit()") Nouveau packet
        button.btn.btn-primary.btn-block.m-1((click)="ticking=!ticking") Start / stop

app-network-display([network]="network", [scale]="1/scale")

